


/**********COLORS***********
****************************

colors: life is breathtakingly beautiful
http://colrd.com/image-dna/23572/
light: #fcfaee
dark: #070000
red: #ca3928
yellow: #dbb72b
pink: #ffa6c7

****************************
***************************/

body{
	background-color: #fcfaee;
	font-family: 'Vollkorn', serif;
	color: #070000;
}

::selection {
  background: #ffa6c7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffa6c7; /* Gecko Browsers */
}

.italic {
	font-style: oblique;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

/*Text Art -- thanks, Codrops!
****************/
.rw-wrapper{
	width: 55%;
	position: relative;
	float: left;
	margin: 0 2% 0 4%;
	height: 400px;
/*	overflow: hidden;*/
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: #070000;
	white-space: nowrap;
	letter-spacing: -1px;
	font-size: 300%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span#startup{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-transform-origin: 10% 75%;
	transform-origin: 10% 75%;
	-webkit-animation: rotateWord 18s linear forwards;
	-ms-animation: rotateWord 18s linear forwards;
	animation: rotateWord 18s linear forwards;
}
.rw-words span:nth-child(2) {
	opacity: 0;
	-webkit-animation: fadeIn 2s linear forwards;
	-ms-animation: fadeIn 2s linear forwards;
	animation: fadeIn 2s linear forwards;
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #ca3928;
}

/*Call to Action
****************/

.cta {
/*	border: 1px solid #ffa6c7;*/
	float:right;
	font-size: 100%;
	height:400px;
	margin: 0 4% 0 0;
	text-align: center;
	width: 35%;
}

.cta h2 {
	border-bottom: 1px dotted #ca3928;
	font-size: 1.25em;
	font-weight: normal;
	margin-top: 30px;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.cta p {
	font-size: 1em;
}

#button {
	background-color: #fcfaee;
    border: 2px dotted #dbb72b;
    font-size: 1em;
    padding: 10px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-transform: lowercase;
    margin: auto;
    width: 200px;
}

#button:hover {
	background-color: #dbb72b;
}

#button a {
    color: #070000;
    text-decoration: none;
}

#button a:hover {
    color: #fcfaee;
    text-decoration: none;
}

.cta ul {
	padding: 0;
	list-style-type: none;
}

.cta ul li {
	padding: 5px 0;
}

/*Footnotes
****************/
.footnotes {
	border-top: 1px dotted #070000;
	margin: 5% 4%;
}

.footnotes h2 {
	font-weight: normal;
	font-style: oblique;
}

/*Animations
****************/

@-webkit-keyframes rotateWord {
    0% { opacity: 1; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(98deg); }
	21% { opacity: 1; -webkit-transform: rotate(86deg); }
	23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 1; }
    5% { opacity: 1; }
    17% { opacity: 1; -ms-transform: rotate(0deg); }
	19% { opacity: 1; -ms-transform: rotate(98deg); }
	21% { opacity: 1; -ms-transform: rotate(86deg); }
	23% { opacity: 1; -ms-transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -ms-transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 1; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(98deg); transform: rotate(98deg); }
	21% { opacity: 1; -webkit-transform: rotate(86deg); transform: rotate(86deg); }
	23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    5% { opacity: 0; }
    17% { opacity: 1;  }
	19% { opacity: 1; }
	21% { opacity: 1;  }
	23% { opacity: 1;  }
	25% { opacity: 1;  }
	80% { opacity: 1; }
    100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    5% { opacity: 0; }
    17% { opacity: 1; }
	19% { opacity: 1;  }
	21% { opacity: 1; }
	23% { opacity: 1;  }
	25% { opacity: 1;  }
	80% { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    5% { opacity: 0; }
    17% { opacity: 1; }
	19% { opacity: 1; }
	21% { opacity: 1;  }
	23% { opacity: 1; }
	25% { opacity: 1;  }
	80% { opacity: 1; }
    100% { opacity: 1; }
}

/*Media Queries
****************/
@media screen and (max-width: 1024px){
	.rw-sentence span { font-size: 200%; }
}

@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
	.rw-wrapper {
		height: auto;
		margin: 10% auto;
		width: 70%;
		float: none;
	}
	.cta {
		margin: 5% 4%;
		height: auto;
		width: 92%;
		float:none;
	}
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}