@import url('normalize.css');
/* General Demo Style */
html{
	height: 100%;
}
body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
}
a{
	color: #070000;
}

a:hover {
	color: #ca3928;
}

.container{
	width: 100%;
	min-width: 320px;
	position: relative;
	margin-top: 5%;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.rw-sentence-IE{
	display: none;
	padding: 30px;
}